# Celo Alfajores Testnet
ALFAJORES_RPC_URL=https://alfajores-forno.celo-testnet.org
ALFAJORES_PRIVATE_KEY=your_private_key_here

# Celo Mainnet
CELO_RPC_URL=https://forno.celo.org
CELO_PRIVATE_KEY=your_private_key_here

# Chainlink VRF (Alfajores Testnet)
VRF_COORDINATOR_ALFAJORES=0xbd13f082824249580e7247B383Bc83654a637d44
KEY_HASH_ALFAJORES=0x6e092a9b38c4f6d8d8c9c8d1f4b5a3c2e1d0f9a8b7c6d5e4f3a2b1c0d9e8f7a6
VRF_SUBSCRIPTION_ID_ALFAJORES=0

# Chainlink VRF (Mainnet)
VRF_COORDINATOR_CELO=0xYourMainnetCoordinator
KEY_HASH_CELO=0xYourMainnetKeyHash
VRF_SUBSCRIPTION_ID_CELO=0

# Payment Token Addresses
CUSDC_ALFAJORES=0x874069Fa1Eb16D44d622F2e0Ca25eeA172369bC1
CUSDC_CELO=0x765DE816845861e75A25fCA122bb6898B8B1282a

# Treasury Wallet
TREASURY_ADDRESS=your_treasury_wallet_address
